set timeout=0
set default=0
insmod multiboot2
insmod iso9660
insmod vbe
insmod vga
insmod video_bochs
insmod all_video
insmod png
set gfxpayload=1920x1080x32
set color_normal=white/black
background_image -m center /boot/splash.png
menuentry "CordOS" {
    insmod multiboot2
    set gfxpayload=1920x1080x32
    multiboot2 /boot/cordos.bin gfx=1920x1080
    boot
}
